@font-face {
    font-family: "Public Sans";
    font-style: normal;
    src: url(../fonts/public-sans-v14-latin-700.ttf),
    url(../fonts/public-sans-v14-latin-regular.ttf),
    url(../fonts/public-sans-v14-latin-500.ttf);
}
@font-face {
    font-family: "DM Serif Display";
    font-style: normal;
    src: url(../fonts/dm-serif-display-v10-latin-regular.ttf);
}